.bug-table {
    border-top-color: #ff7777;
    border-top-width: 5px;
    border-top-style: solid;
    p {
        white-space: pre-line;
        text-overflow: ellipsis;
    }
}
.container {
    padding: 20px;
}
.text-block {
    margin: 20px 30px 0 30px;
    text-align: justify;
}
