.chat {
  position: fixed;
  bottom: 0;
  margin-top: -50px;
  width: 100%;
  input, button {
    float: right;
  };
  input {
    width: 100% !important;
  };
}
.msg-container {
  margin: 20px 10px;
}
.msg-left {
  padding: 10px;
  border-radius: 0 10px 10px 10px;
}
.msg-right {
  padding: 10px;
  border-radius: 10px 0 10px 10px;
}
