extends layout.pug

block content
  .container
    .row
        .col-md-12
            p This is RMBER.
    .row
        .col-md-12
            a.btn.btn-default(href='/download/RMBERv1_0.apk')
                | Download
