extends layout.pug

block content
  .container
    .row
        .col-md-12
            h3 This is RMBER.
            p RMBER is a memo application for android.
            p You can quickly create text, audio and photo notes, review them in a timeline and share your thoughts with your friends.
            p Never forget important information again with RMBER!
    .row.download
        .col-md-12.text-center
            a.btn.btn-lg.btn-success(href='/download/RMBERv1_1.apk')
                | Download v1.1 (beta)
            br
            br
            | The current version is still in testing phase.
            br
            | It occurs to be unstable on some android API versions.
