extends layout.pug

block content
  .container
    .row
        .col-md-12
            p This is RMBER.
    .row
        .col-md-12
            button.btn.btn-default(href='/download/rmber.apk')
                | Download
