extends layout.pug

block content
  .container
    .row
        .col-md-12
            h3 This is RMBER.
            p RMBER is a memo application for Android 4.1 and upwards.
            p You can quickly create text, audio and photo notes, review them in a timeline and share your thoughts with your friends.
            p Never forget important information again with RMBER!
    .row
        .col-md-12.text-center
            h3 What you should know
            p This application is yet not registered in the Google Play Store.
            p Along the installation, Android may say that this application could be harmfull.
            p This is a usual attempt from Android to protect users from real malware.
    .row.download
        .col-md-12.text-center
            a.btn.btn-lg.btn-success(href='/download/RMBERv1_3.apk')
                | Download v1.3 (beta)
            br
            br
            | The current version is still in testing phase.
            br
            | It occurs to be unstable on some Android platforms.
